.profile {
   display: flex;
}

.profileRight {
   flex: 9;
   position: relative;
}

.profileCover {
   height: 320px;
   /* position: relative; */
}

.profileCoverImg {
   width: 100%;
   height: 250px;
   object-fit: cover;
   margin-bottom: 50px;
}

.profileUserImg {
   width: 140px;
   height: 140px;
   border-radius: 50%;
   object-fit: cover;
   position: absolute;
   left: 0;
   right: 0;
   margin: auto;
   top: 150px;
   border: 3px solid white;
}

.profileInfo {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.profileInfoDesc{
   font-weight: 300;
   margin-bottom: 20px;
}

.profileRightBottom {
   display: flex;
}